{% extends 'base.html.twig' %}

{% block title %}{% trans from "projects" %}project{% endtrans %}: {{ project.name|decodeLocaleArray }}{% endblock %}

{% block content %}
    <section class="projectHeader">
        <div>
            <div class="headerBackground lazy" data-bg="url({{ asset(project.imageRaw) | imagine_filter("w1920") }})"></div>{#TODO: Add Low-Res version to always load#}
            <header>
                <div class="headerInner">
                    <h1>{% trans from "projects" %}project{% endtrans %}: {{ project.name|decodeLocaleArray }}</h1>
                    <span class="postMeta">{{ project.headline|decodeLocaleArray }}</span>
                </div>
            </header>
            <div class="headerPlaceholder"></div>
        </div>
    </section>
    {% if project.about|default(false) %}
        <section class="projectAbout">
            <article>
                <h1>{{ "about %project%"|trans({'%project%': project.name|decodeLocaleArray}, "projects") }}</h1>
                {{ project.about|decodeLocaleArray|markdown }}
            </article>
        </section>
    {% endif %}
    {% if project.modules.downloads|default(false) %}
        <section class="projectDownloads">
            <div>
                <h1>{% trans from "projects" %}downloads{% endtrans %}</h1>

                <table>
                    <tr><th>{% trans from "projects" %}version{% endtrans %}</th><th></th></tr>
                    {% for download in project.modules.downloads %}
                        <tr>
                            <td>{{ download.name }}</td>
                            <td>
                                <div class="downloadDropdown">
                                    <a href="javascript:void(0);">{% trans from "projects" %}download{% endtrans %}</a>
                                    <div class="dropdown">
                                        {% for link in download.links %}
                                            {% if link.type == "source" %}
                                                <a href="{{ link.url }}" target="_blank" title="{{ link.text|default("Source") }}"><i class="fas fa-file-archive"></i> {{ link.text|default("Source") }}</a>
                                            {% elseif link.type == "windows" %}
                                                <a href="{{ link.url }}" target="_blank" title="{{ link.text|default("Windows") }}"><i class="fab fa-windows"></i> {{ link.text|default("Windows") }}</a>
                                            {% elseif link.type == "linux" %}
                                                <a href="{{ link.url }}" target="_blank" title="{{ link.text|default("Linux") }}"><i class="fab fa-linux"></i> {{ link.text|default("Linux") }}</a>
                                            {% elseif link.type == "mac" %}
                                                <a href="{{ link.url }}" target="_blank" title="{{ link.text|default("Mac") }}"><i class="fab fa-apple"></i> {{ link.text|default("Mac") }}</a>
                                            {% else %}
                                                <a href="{{ link.url }}" target="_blank" title="{{ link.text|default("Unknown") }}"><i class="fas fa-file-download"></i> {{ link.text|default("Unknown") }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    {% endif %}
    {% if project.modules.links|default(false) %}
        <section class="projectLinks">
            <div>
                <h1>{% trans from "projects" %}links{% endtrans %}</h1>
                <div class="linkList">
                    {% for link in project.modules.links %}
                        {% if link.type == "github" %}
                            <a href="{{ link.url }}" target="_blank"><i class="fab fa-github"></i> {% trans from "projects" %}viewGitHub{% endtrans %}</a>
                        {% elseif link.type == "gitlab" %}
                            <a href="{{ link.url }}" target="_blank"><i class="fab fa-gitlab"></i> {% trans from "projects" %}viewGitLab{% endtrans %}</a>
                        {% elseif link.type == "git" %}
                            <a href="{{ link.url }}" target="_blank"><i class="fab fa-git"></i> {% trans from "projects" %}viewGitRepo{% endtrans %}</a>
                        {% elseif link.type == "bitbucket" %}
                            <a href="{{ link.url }}" target="_blank"><i class="fab fa-bitbucket"></i> {% trans from "projects" %}viewBitBucket{% endtrans %}</a>
                        {% else %}
                            <a href="{{ link.url }}" target="_blank"><i class="fas fa-external-link-alt"></i> {{ link.text }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if project.externalURL %}
                        <a href="{{ project.externalURL }}" target="_blank"><i class="fas fa-external-link-alt"></i> {% trans from "projects" %}viewExternal{% endtrans %}</a>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}