{% extends 'base.html.twig' %}

{% if post.category %}
    {% set categoryName = post.category.languageKey|trans({}, "blog") %}
{% else %}
    {% set categoryName = "chooseCategory"|trans({}, "blog") %}
{% endif %}

{% block title %}Editor{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/styles/multiLanguageEditor.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/scripts/multiLanguageEditor.js') }}"></script>

    <script>
        multiLanguageEditor.initialize("#edit_post_title");
        multiLanguageEditor.initializeTextArea("#edit_post_content");
        multiLanguageEditor.initialize("#edit_post_summary");
    </script>
{% endblock %}

{% block content %}
    <section class="postContent postEditor">
        <article>
            <!--<div class="multiLanguageEditorInline" data-input="multiLanguageBox1">
                <input placeholder="Title">
                <div class="multiLanguageSwitcherTrigger">+</div>
                <div class="multiLanguageSwitcher">
                    <div class="multiLanguageChooserBox">
                        <span data-langtag="en" class="active"><span>en</span><span class="multiLanguageChooserRemove">&times;</span></span>
                        <span data-langtag="de" class="inactive"><span>de</span><span class="multiLanguageChooserRemove">&times;</span></span>
                        <span data-langtag="*" class="inactive"><span>*</span><span class="multiLanguageChooserRemove">&times;</span></span>
                    </div>
                </div>
            </div>-->

            <h1>Edit Post</h1>

            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.summary) }}
                {{ form_row(form.content) }}
                {{ form_row(form.publishTime) }}
                {{ form_row(form.image) }}
                {{ form_row(form.author) }}
                {{ form_row(form.tags) }}
                {{ form_row(form.category) }}
                {{ form_row(form.visible) }}

                <button class="btn">{% trans %}save{% endtrans %}</button>
            {{ form_end(form) }}
        </article>

    </section>
{% endblock %}
