{% extends 'base.html.twig' %}

{% set categoryName = post.category.languageKey|trans({}, "blog") %}
{% set categoryLink = path("blogCategory", {"urlName": post.category.urlName}) %}

{% block meta %}

    <meta name="description" content="{{ post.summary }}">
    <meta name="author" content="{{ post.author.publicName }}">
    <meta property="og:url" content="https://kevink.dev{{ path("blogView", {"year": post.publishTime|date("Y"), "month": post.publishTime|date("m"), "day": post.publishTime|date("d"), "post_id": post.id, "canonical": post.canonicalName}) }}" />
    <meta property="article:published_time" content="{{ post.publishTime|date("Y-m-d") }}T{{ post.publishTime|date("G:i:sP") }}" />
    <meta property="og:image" content="{{ post.image }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:src" content="{{ post.image }}" />
    <meta name="og:title" content="{{ post.title }}" />
    <meta name="twitter:text:title" content="{{ post.title }}" />
    <meta name="twitter:title" content="{{ post.title }}" />
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "NewsArticle",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "https://google.com/article"
            },
            "headline": "{{ post.title }}",
            "image": [
                "{{ post.image }}"
            ],
            "datePublished": "{{ post.publishTime|date("Y-m-d") }}T{{ post.publishTime|date("G:i:sP") }}",
            "author": {
                "@type": "Person",
                "name": "{{ post.author.publicName }}"
            },
            "publisher": {
                "@type": "Organization",
                "name": "KevinK.dev",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ asset('assets/images/logo/roundedbglogo.png') }}"
                }
            },
            "description": "{{ post.summary }}"
        }
    </script>

{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://kevink.dev{{ path("blogViewDirect", { "post_id": post.id }) }}"/>

{% endblock %}

{% block title %}{{ post.title|raw }}{% endblock %}

{% block content %}
    <section class="postContent">
        <article>
            <div class="headerBackground lazy" data-bg="url({{ asset(post.imageRaw) | imagine_filter("w1920") }})"></div>{#TODO: Add Low-Res version to always load#}
            <header>
                <div class="headerInner">
                    <h1>{{ post.title }}</h1>
                    <span class="postMeta">{{ "by %author% on %publishdate% in %categorylink%"|trans({'%author%': post.author.publicName, '%publishdate%': post.publishTime|date("d.m.Y"), '%categorylink%': '<a href="'~categoryLink~'" class="spf-link">'~categoryName~'</a>'}, "blog")|raw }}</span>
                </div>
            </header>
            <div class="headerPlaceholder"></div>

            {{ post.content|markdown }}
        </article>
    </section>
{% endblock %}
