<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans %}Seite{% endtrans %}{% endblock %} | KevinK.dev</title>
    <link name="kevin-main" rel="stylesheet" href="{{ asset('assets/styles/kevinMain.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ToDo: Lokale Google Fonts -->
    <link name="google-fonts" href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Roboto" rel="stylesheet">
    <link rel="stylesheet" name="nprogress" href="{{ asset('assets/styles/nprogress/nprogress.css') }}">
    <!-- ToDo: Lokales Fontawesome -->
    <link name="fontawesome" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
            var _paq = _paq || [];
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#252e39"
                    },
                    "button": {
                        "background": "#14a7d0"
                    }
                },
                "theme": "edgeless",
                "position": "bottom-right",
                "type": "opt-out",
                "content": {
                    "message": "{% trans from "trackcon" %}Hi, Ich würde gerne Analyse-Software nutzen um meine Seite zu optimieren!{% endtrans %}",
                    "allow": "{% trans from "trackcon" %}Erlauben{% endtrans %}",
                    "dismiss": "{% trans from "trackcon" %}Ausblenden{% endtrans %}",
                    "deny": "{% trans from "trackcon" %}Ablehnen{% endtrans %}",
                    "link": "{% trans from "modules" %}Datenschutz{% endtrans %}",
                    "href": '{{ path('datenschutz') }}'
                },
                "law.regionalLaw": true,
                "law.countryCode": "de",
                onInitialise: function (status) {
                    var type = this.options.type;
                    var didConsent = this.hasConsented();
                    if (type == 'opt-in' && didConsent) {
                        _paq.push(['rememberConsentGiven'])
                    }
                    if (type == 'opt-out' && !didConsent) {
                        _paq.push(['forgetConsentGiven']);
                    }
                },

                onStatusChange: function(status, chosenBefore) {
                    var type = this.options.type;
                    var didConsent = this.hasConsented();
                    if (type == 'opt-in' && didConsent) {
                        _paq.push(['rememberConsentGiven'])
                    }
                    if (type == 'opt-out' && !didConsent) {
                        _paq.push(['forgetConsentGiven']);
                    }
                },

                onRevokeChoice: function() {
                    var type = this.options.type;
                    if (type == 'opt-in') {
                        _paq.push(['forgetConsentGiven']);
                    }
                    if (type == 'opt-out') {
                        _paq.push(['rememberConsentGiven'])
                    }
                },
            })});
    </script>

    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = window._paq || [];
        // require user consent before processing data
        _paq.push(['requireConsent']);
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//analytics.kevink.dev/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->

    {% block stylesheets %}{% endblock %}
    {% block meta %}{% endblock %}
</head>
<body>
<div class="topBar">
    <nav class="topBarInner">
        <a id="navBtnHome" href="{{ path('index') }}" class="logo{% if module|default("") == "home" %} active{% endif %} spf-link">KevinK.dev</a>
        {#<div class="flexSpacer"></div>
        <a id="navBtnProjects" href="{{ path('projects') }}" {% if module|default("") == "projects" %}class="active spf-link"{% else %}class="spf-link"{% endif %}>{% trans from "modules" %}Projekte{% endtrans %}</a>
        <a id="navBtnPhotos" href="{{ path('photos') }}" {% if module|default("") == "photos" %}class="active spf-link"{% else %}class="spf-link"{% endif %}>{% trans from "modules" %}Fotos{% endtrans %}</a>
        <a id="navBtnBlog" href="{{ path('blog') }}" {% if module|default("") == "blog" %}class="active spf-link"{% else %}class="spf-link"{% endif %}>{% trans from "modules" %}Blog{% endtrans %}</a>
    #}</nav>
</div>
<div id="content">
    {% block content %}
        <section>
            <article>
                {% block body %}{% endblock %}
            </article>
        </section>
    {% endblock %}
</div>

<footer>CC-BY 4.0 Kevin Kandlbinder, <a href="{{ path('impressum') }}" class="spf-link">{% trans from "modules" %}Impressum{% endtrans %}</a> | <a href="{{ path('datenschutz') }}" class="spf-link">{% trans from "modules" %}Datenschutz{% endtrans %}</a> | <a href="{{ path('chooseLang') }}" class="spf-link">Language</a><span class="adminFooter">{# | <a href="{{ path('admin') }}" class="spf-link">Admin</a>#}</span></footer>

<script name="jquery" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script name="kevin-main" src="{{ asset('assets/scripts/kevinMain.js') }}"></script>
<script name="nprogress" src="{{ asset('assets/scripts/nprogress/nprogress.js') }}"></script>
<script name="spfjs" src="{{ asset('assets/scripts/spfjs/spf.js') }}"></script>




{% block javascripts %}{% endblock %}
</body>
</html>
