<!DOCTYPE html>
<html lang="{{ app.request.locale }}" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <title>{% block fulltitle %}{% block title %}{% trans %}Seite{% endtrans %}{% endblock %} | Kevin Kandlbinder{% endblock %}</title>

    <link rel="manifest" href="{{ path('webmanifest') }}">

    <link name="kevin-main" rel="stylesheet" href="{{ asset('assets/styles/kevinMain.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="KevinK.dev">
    <meta name="apple-mobile-web-app-title" content="KevinK.dev">
    <meta name="theme-color" content="#000710">
    <meta name="msapplication-navbutton-color" content="#000710">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="msapplication-TileColor" content="#000710">
    <meta name="msapplication-TileImage" content="{{ asset('assets/images/logo/fullbglogo.png') }}">
    <meta name="msapplication-config" content="{{ asset('browserconfig.xml') }}" />
    <meta property="og:site_name" content="KevinK.dev" />

    <meta name="twitter:site" content="@unkn0wnkevin"/>
    <meta name="twitter:creator" content="@unkn0wnkevin"/>

    {% block stylesheets %}{% endblock %}
    {% block meta %}
        <meta property="og:title" content="Page" />
        <meta name="twitter:card" content="summary"/>
    {% endblock %}
    {% block canonical %}
        <link rel="canonical" href="https://kevink.dev{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>

    {% endblock %}


    <link rel="alternate" hreflang="en" href="{{ path(app.request.attributes.get('_route')|default("index"), app.request.attributes.get('_route_params')|default({})|merge({"_locale": "en"})) }}"/>
    <link rel="alternate" hreflang="de" href="{{ path(app.request.attributes.get('_route')|default("index"), app.request.attributes.get('_route_params')|default({})|merge({"_locale": "de"})) }}"/>


</head>
<body id="body" class="{% block bodyClasses %}{% endblock %}">
<div class="topBar">
    <nav class="topBarInner">
        <a id="navBtnHome" href="{{ path('index') }}" class="logo{% if module|default("") == "home" %} active{% endif %} spf-link">KevinK.dev</a>
        {% if app.user %}
            <div class="has-dropdown">
                <a id="navBtnAccount" href="javascript:void(0);">{{ app.user }}</a>

                <div class="dropdown" style="transform: translate(calc(-50% + 95px), 0);">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="#{#TODO: Admin Login#}">{% trans %}admin{% endtrans %}</a>
                    {% endif %}
                    <a href="{{ path('logout') }}">{% trans %}logout{% endtrans %}</a>
                </div>
            </div>
        {% endif %}
        <div class="flexSpacer"></div>
        <a id="navBtnProjects" href="{{ path('projects') }}" {% if module|default("") == "projects" %}class="active spf-link"{% else %}class="spf-link"{% endif %}>{% trans from "modules" %}projects{% endtrans %}</a>
        {#<a id="navBtnPhotos" href="{{ path('photos') }}" {% if module|default("") == "photos" %}class="active spf-link"{% else %}class="spf-link"{% endif %}>{% trans from "modules" %}photos{% endtrans %}</a>#}
        <div class="has-dropdown">
            <a id="navBtnBlog" href="{{ path('blogHome') }}" {% if module|default("") == "blog" %}class="active spf-link"{% else %}class="spf-link"{% endif %}>{% trans from "modules" %}blog{% endtrans %}</a>
            <div class="dropdown">
                <a href="{{ path("blogHome") }}" class="spf-link">Home</a>
                <a href="{{ path("blogCategory", {"urlName": "general"}) }}" class="spf-link">{{ "general"|trans({}, "blog") }}</a>
            </div>
        </div>
    </nav>
</div>
<div id="content">
    {% block content %}
        <section>
            <article>
                {% block body %}{% endblock %}
            </article>
        </section>
    {% endblock %}
</div>

<footer>CC-BY 4.0 Kevin Kandlbinder, <a href="{{ path('impressum') }}" class="spf-link">{% trans from "modules" %}imprint{% endtrans %}</a> | <a href="{{ path('datenschutz') }}" class="spf-link">{% trans from "modules" %}datasec{% endtrans %}</a> | <a href="{{ path('disclaimer') }}" class="spf-link">{% trans from "modules" %}disclaimer{% endtrans %}</a> | <a href="#languageChooser">Language</a><span class="adminFooter">{# | <a href="{{ path('admin') }}" class="spf-link">Admin</a>#}</span></footer>


<div class="languageModal" id="languageChooser">
    {% include "languageSwitcher.html.twig" %}
</div>

<link name="google-fonts" href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Roboto&display=swap" rel="stylesheet">
<link name="fontawesome" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


<script name="jquery" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script name="kevin-main" src="{{ asset('assets/scripts/kevinMain.js') }}"></script>


<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
    var _paq = _paq || [];


    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#252e39"
                },
                "button": {
                    "background": "#14a7d0"
                }
            },
            "theme": "edgeless",
            "position": "bottom-right",
            "type": "opt-out",
            "content": {
                "message": "{% trans from "trackcon" %}consentText{% endtrans %}",
                "allow": "{% trans from "trackcon" %}allow{% endtrans %}",
                "dismiss": "{% trans from "trackcon" %}hide{% endtrans %}",
                "deny": "{% trans from "trackcon" %}deny{% endtrans %}",
                "link": "{% trans from "modules" %}datasec{% endtrans %}",
                "href": '{{ path('datenschutz') }}'
            },
            "revokable": false,
            onInitialise: function (status) {
                var type = this.options.type;
                var didConsent = this.hasConsented();
                if (type == 'opt-in' && didConsent) {
                    _paq.push(['forgetUserOptOut']);
                    _paq.push(['rememberConsentGiven']);
                    _paq.push(['setConsentGiven']);
                    loadMatomoIfNotLoaded();
                }
                if (type == 'opt-out' && !didConsent) {
                    _paq.push(['forgetConsentGiven']);
                    _paq.push(['optUserOut']);
                }
            },

            onStatusChange: function(status, chosenBefore) {
                var type = this.options.type;
                var didConsent = this.hasConsented();
                if (type == 'opt-in' && didConsent) {
                    _paq.push(['forgetUserOptOut']);
                    _paq.push(['rememberConsentGiven']);
                    _paq.push(['setConsentGiven']);
                    loadMatomoIfNotLoaded();
                }
                if (type == 'opt-out' && !didConsent) {
                    _paq.push(['forgetConsentGiven']);
                    _paq.push(['optUserOut']);
                }
            },

            onRevokeChoice: function() {
                var type = this.options.type;
                if (type == 'opt-in') {
                    _paq.push(['forgetConsentGiven']);
                    _paq.push(['optUserOut']);
                }
                if (type == 'opt-out') {
                    _paq.push(['forgetUserOptOut']);
                    _paq.push(['rememberConsentGiven']);
                    _paq.push(['setConsentGiven']);
                    loadMatomoIfNotLoaded();
                }
            },
        })});
</script>

<script>
    let isMatomoLoaded = false;

    function loadMatomoIfNotLoaded() {
        if(!isMatomoLoaded) {
            loadMatomo();
        }
    }


    function loadMatomo() {
        // require user consent before processing data
        _paq.push(['requireConsent']);
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//analytics.kevink.dev/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
        isMatomoLoaded = true;
    }
</script>

<script name="nprogress" src="{{ asset('assets/scripts/nprogress/nprogress.js') }}"></script>
<link rel="stylesheet" name="nprogress" href="{{ asset('assets/styles/nprogress/nprogress.css') }}">
<script name="spfjs" src="{{ asset('assets/scripts/spfjs/spf.js') }}"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/hybrid.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
