<!DOCTYPE html>
<html lang="{{ app.request.locale }}" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <title>{% block fulltitle %}{% block title %}{% trans %}Seite{% endtrans %}{% endblock %} | Kevin Kandlbinder{% endblock %}</title>

    <meta http-equiv="language" content="{{ app.request.locale }}">

    <link rel="manifest" href="{{ path('webmanifest') }}">

    <link name="kevin-main" rel="stylesheet" href="{{ asset('assets/styles/kevinMain.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="KevinK.dev">
    <meta name="apple-mobile-web-app-title" content="KevinK.dev">
    <meta name="theme-color" content="#000710">
    <meta name="msapplication-navbutton-color" content="#000710">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="msapplication-TileColor" content="#000710">
    <meta name="msapplication-TileImage" content="{{ asset('assets/images/logo/fullbglogo.png') }}">
    <meta name="msapplication-config" content="{{ asset('browserconfig.xml') }}" />
    <meta property="og:site_name" content="KevinK.dev" />

    <meta name="twitter:site" content="@unkn0wnkevin"/>
    <meta name="twitter:creator" content="@unkn0wnkevin"/>

    {% block stylesheets %}{% endblock %}
    {% block meta %}
        <meta name="twitter:card" content="summary"/>
    {% endblock %}
    {% block canonical %}
        <link rel="canonical" href="https://kevink.dev{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>

    {% endblock %}

    {#<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KNGX3QF');
    </script>#}

    <link rel="alternate" hreflang="en" href="{{ path(app.request.attributes.get('_route')|default("index"), app.request.attributes.get('_route_params')|default({})|merge({"_locale": "en"})) }}"/>
    <link rel="alternate" hreflang="de" href="{{ path(app.request.attributes.get('_route')|default("index"), app.request.attributes.get('_route_params')|default({})|merge({"_locale": "de"})) }}"/>
</head>
<body id="body" class="{% block bodyClasses %}{% endblock %}">
    {#<!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNGX3QF"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->#}
    <div class="topBar">
        <nav class="topBarInner" role="navigation" aria-label="{% trans %}ariaMainNavigation{% endtrans %}">
            <a id="navBtnHome" href="{{ path('index') }}" class="logo{% if module|default("") == "home" %} active{% endif %} spf-link">KevinK.dev</a>
            {% if app.user %}
                <div class="has-dropdown">
                    <a id="navBtnAccount" href="javascript:void(0);">{{ app.user }}</a>

                    <div class="dropdown" style="transform: translate(calc(-50% + 95px), 0);">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin_home') }}">{% trans %}admin{% endtrans %}</a>
                        {% endif %}
                        <a href="{{ path('logout') }}">{% trans %}logout{% endtrans %}</a>
                    </div>
                </div>
            {% endif %}
            <div class="flexSpacer"></div>
            <a id="navBtnProjects" href="{{ path('projects') }}" {% if module|default("") == "projects" %}class="active spf-link"{% else %}class="spf-link"{% endif %}>{% trans from "modules" %}projects{% endtrans %}</a>
            <a id="navBtnPhotos" href="{{ path('photos') }}" {% if module|default("") == "photos" %}class="active spf-link"{% else %}class="spf-link"{% endif %}>{% trans from "modules" %}photos{% endtrans %}</a>
            {#<div class="has-dropdown">#}
                <a id="navBtnBlog" href="{{ path('blogHome') }}" {% if module|default("") == "blog" %}class="active spf-link"{% else %}class="spf-link"{% endif %}>{% trans from "modules" %}blog{% endtrans %}</a>
            {#<div class="dropdown">
                <a href="{{ path("blogHome") }}" class="spf-link">Home</a>
                <a href="{{ path("blogCategory", {"urlName": "general"}) }}" class="spf-link">{{ "general"|trans({}, "blog") }}</a>
                </div>
            </div>#}
            <a href="javascript:void(0);" class="offscreenNavigationSwitch" aria-label="Open Menu"><i class="fas fa-bars"></i></a>
        </nav>
    </div>
    <div id="content" role="main">
        {% block content %}
            <section>
                <article>
                    {% block body %}{% endblock %}
                </article>
            </section>
        {% endblock %}
    </div>

<footer role="contentinfo">CC-BY 4.0 Kevin Kandlbinder, <a href="{{ path('impressum') }}" class="spf-link">{% trans from "modules" %}imprint{% endtrans %}</a> | <a href="{{ path('datenschutz') }}" class="spf-link">{% trans from "modules" %}datasec{% endtrans %}</a> | <a href="{{ path('disclaimer') }}" class="spf-link">{% trans from "modules" %}disclaimer{% endtrans %}</a> | <a href="#languageChooser">Language</a><span class="adminFooter">{# | <a href="{{ path('admin') }}" class="spf-link">Admin</a>#}</span></footer>


    <div class="languageModal" id="languageChooser">
        {% include "languageSwitcher.html.twig" %}
    </div>

    <link name="google-fonts" rel="preload" href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Roboto&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link name="google-fonts" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Roboto&display=swap"></noscript>

    <link name="fontawesome" rel="preload" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" as="style" onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous">
    <noscript><link name="fontawesome" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" crossorigin="anonymous"></noscript>



    <script name="jquery" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script name="kevin-main" src="{{ asset('assets/scripts/kevinMain.js') }}"></script>
    <script name="lazyLoader" src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/12.0.0/lazyload.min.js"></script>

    {#<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
        (function(f, a, t, h, o, m){
            a[h]=a[h]||function(){
                (a[h].q=a[h].q||[]).push(arguments)
            };
            o=f.createElement('script'),
                m=f.getElementsByTagName('script')[0];
            o.async=1; o.src=t; o.id='fathom-script';
            m.parentNode.insertBefore(o,m)
        })(document, window, '//webstats.kevink.dev/tracker.js', 'fathom');
        fathom('set', 'siteId', 'KDOJM');
        fathom('trackPageview');
    </script>
    <!-- / Fathom -->#}


    <script name="nprogress" src="{{ asset('assets/scripts/nprogress/nprogress.js') }}" async></script>
    <link rel="stylesheet" name="nprogress" href="{{ asset('assets/styles/nprogress/nprogress.css') }}">
    <script name="spfjs" src="{{ asset('assets/scripts/spfjs/spf.js') }}"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/hybrid.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>
