{% extends 'base.html.twig' %}

{% block title %}{% trans from "modules" %}photos{% endtrans %}{% endblock %}

{% block bodyClasses %}{{ parent() }} photosModuleLoaded{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script name="kevin-photo-sorter" src="{{ asset('assets/scripts/kevinPhotoSorter.js') }}"></script>
{% endblock %}

{% block content %}
    <section class="photosSection">
        <article>
            <h1>Album: {{ album.title|decodeLocaleArray }}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path("photoUploadToAlbum", { "albumID": album.id, "galleryID": gallery.id }) }}"><i class="fas fa-cloud-upload-alt"></i> Upload here</a>
                {% endif %}
            </h1>

            {% include 'photos/components/photoList.html.twig' with { photos: photos, album: album, gallery: gallery } %}
        </article>
    </section>
{% endblock %}
