{% extends 'base.html.twig' %}

{% block title %}{% trans from "modules" %}photos{% endtrans %}{% endblock %}

{% block bodyClasses %}{{ parent() }} photosModuleLoaded{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script name="kevin-photo-sorter" src="{{ asset('assets/scripts/kevinPhotoSorter.js') }}"></script>
{% endblock %}

{% block content %}
    <section class="photosSection">
        <article>
            <h1>Gallery: {{ gallery.title|decodeLocaleArray }}</h1>

            <h2>Albums</h2>
            <div class="galleryList">
                {% for album in albums %}
                    {% include "photos/components/albumCard.html.twig" with { album: album, gallery: gallery } %}
                {% endfor %}
            </div>

            {#<h2>Photos</h2>
            <div class="photoList">
                <a class="photoCard spf-link" href="{{ path("photoView", {"gallery": 0, "album": 0, "photo": 0}) }}">
                    <div class="placeholder"></div>
                    <img data-src="https://placekitten.com/400/300" class="lazy">
                </a>

            </div>#}
        </article>
    </section>
{% endblock %}
